
.App {
  text-align: left;  
  min-height: 100vh;
  padding: 20px;
  align-items: left;
  display: flex;
  flex-direction: column;
  color: rgb(16, 25, 102);

}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: large;
}

.App-subheader
{
  font-size: initial;

}
a {
  color: #099eff
}

.App-row > *
{
  margin: 10px;
  
}
.App-row
{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  align-items: center;

}
.App-box
{
  border: 1px solid;
  margin-top: 20px;
  padding: 10px;
}